.container {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.topPage {
    width: 100%;
    height: 100%;
    flex: 1;
    background-color: #101A3D;
}

.middlePage {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #101A3D;
}

.buttonRow {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #101A3D;

}

.button {
    width: 10%;
    height: 75%;
    border-radius: 20px;
    border: none;
    background-color: #FEC600;
    color: #000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.fields {
    width: 20%;
    height: 50%;
    border-radius: 15px;
    border: solid 1px;

}

.bottomPage {
    width: 100%;
    height: 100%;
    flex: 1;
    background-color: #101A3D;
}

